# Entorno virtual (librerías instaladas)
.venv/
env/
venv/
ENV/

# Base de datos local (para que no subas tus pruebas)
*.db
*.sqlite3

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema (Mac/Windows)
.DS_Store
Thumbs.db